@{
    ViewBag.Title = "Home";
}

<br />
<br />

<div class="row">
    <div class="col-lg-6 home-1">
        <img src="http://loisjeans.backend.coqtailbar.com/spree/products/2016/large/1000-Arturo-5414-Vintage-Jumbo%282%29.png?1523952555" />
    </div>
    <div class="col-lg-6 home-2">
    <img src="http://loisjeans.backend.coqtailbar.com/spree/products/2021/large/2138-Workshirt-5498-Flame-Colour.png?1523953477" />
    </div>
</div>
